<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tapovanam_srisathyasaisatcharithra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ch_19"></activity>
        <activity android:name=".Ch18Pt3" />
        <activity android:name=".Ch18Pt2" />
        <activity android:name=".Ch18Pt1" />
        <activity android:name=".Ch_18" />
        <activity android:name=".Ch17Pt5" />
        <activity android:name=".Ch17Pt4" />
        <activity android:name=".Ch17Pt3" />
        <activity android:name=".Ch17Pt2" />
        <activity android:name=".Ch17Pt1" />
        <activity android:name=".Ch_17" />
        <activity android:name=".Ch16Pt9" />
        <activity android:name=".Ch16Pt8" />
        <activity android:name=".Ch16Pt7" />
        <activity android:name=".Ch16Pt6" />
        <activity android:name=".Ch16Pt5" />
        <activity android:name=".Ch16Pt4" />
        <activity android:name=".Ch16Pt3" />
        <activity android:name=".Ch16Pt2" />
        <activity android:name=".Ch16Pt1" />
        <activity android:name=".Ch_16" />
        <activity android:name=".Ch15Pt4" />
        <activity android:name=".Ch15Pt5" />
        <activity android:name=".Ch15Pt3" />
        <activity android:name=".Ch15Pt2" />
        <activity android:name=".Ch15Pt1" />
        <activity android:name=".Ch_15" />
        <activity android:name=".Ch14Pt7" />
        <activity android:name=".Ch14Pt6" />
        <activity android:name=".Ch14Pt5" />
        <activity android:name=".Ch14Pt4" />
        <activity android:name=".Ch14Pt3" />
        <activity android:name=".Ch14Pt2" />
        <activity android:name=".Ch14Pt1" />
        <activity android:name=".Ch_14" />
        <activity android:name=".Ch13Pt3" />
        <activity android:name=".Ch13Pt2" />
        <activity android:name=".Ch13Pt1" />
        <activity android:name=".Ch_13" />
        <activity android:name=".Ch12Pt5" />
        <activity android:name=".Ch12Pt4" />
        <activity android:name=".Ch12Pt3" />
        <activity android:name=".Ch12Pt2" />
        <activity android:name=".Ch12Pt1" />
        <activity android:name=".Ch_12" />
        <activity android:name=".Ch11Pt10" />
        <activity android:name=".Ch11Pt9" />
        <activity android:name=".Ch11Pt8" />
        <activity android:name=".Ch11Pt7" />
        <activity android:name=".Ch11Pt6" />
        <activity android:name=".Ch11Pt5" />
        <activity android:name=".Ch11Pt4" />
        <activity android:name=".Ch11Pt3" />
        <activity android:name=".Ch11Pt2" />
        <activity android:name=".Ch11Pt1" />
        <activity android:name=".Ch_11" />
        <activity android:name=".Ch10Pt7" />
        <activity android:name=".Ch10Pt6" />
        <activity android:name=".Ch10Pt5" />
        <activity android:name=".Ch10Pt4" />
        <activity android:name=".Ch10Pt3" />
        <activity android:name=".Ch10Pt2" />
        <activity android:name=".Ch10Pt1" />
        <activity android:name=".Ch_10" />
        <activity android:name=".Ch9Pt6" />
        <activity android:name=".Ch9Pt5" />
        <activity android:name=".Ch9Pt4" />
        <activity android:name=".Ch9Pt3" />
        <activity android:name=".Ch9Pt2" />
        <activity android:name=".Ch9Pt1" />
        <activity android:name=".Ch_9" />
        <activity android:name=".Ch8Pt2" />
        <activity android:name=".Ch8Pt1" />
        <activity android:name=".Ch_8" />
        <activity android:name=".Ch7Pt4" />
        <activity android:name=".Ch7Pt3" />
        <activity android:name=".Ch7Pt2" />
        <activity android:name=".Ch7Pt1" />
        <activity android:name=".Ch_7" />
        <activity android:name=".Ch6P13" />
        <activity android:name=".Ch6P12" />
        <activity android:name=".Ch6P11" />
        <activity android:name=".Ch6P10" />
        <activity android:name=".Ch6Pt9" />
        <activity android:name=".Ch6Pt8" />
        <activity android:name=".Ch6Pt7" />
        <activity android:name=".Ch6Pt6" />
        <activity android:name=".Ch6Pt5" />
        <activity android:name=".Ch6Pt4" />
        <activity android:name=".Ch6Pt3" />
        <activity android:name=".Ch6Pt2" />
        <activity android:name=".Ch6Pt1" />
        <activity android:name=".Ch_6" />
        <activity android:name=".Ch5Pt8" />
        <activity android:name=".Ch5Pt7" />
        <activity android:name=".Ch5Pt6" />
        <activity android:name=".Ch5Pt5" />
        <activity android:name=".Ch5Pt4" />
        <activity android:name=".Ch5Pt3" />
        <activity android:name=".Ch5Pt2" />
        <activity android:name=".Ch5Pt1" />
        <activity android:name=".Ch_5" />
        <activity android:name=".Ch4P12" />
        <activity android:name=".Ch4P11" />
        <activity android:name=".Ch4P10" />
        <activity android:name=".Ch4Pt9" />
        <activity android:name=".Ch4Pt8" />
        <activity android:name=".Ch4Pt7" />
        <activity android:name=".Ch4Pt6" />
        <activity android:name=".Ch4Pt5" />
        <activity android:name=".Ch4Pt4" />
        <activity android:name=".Ch4Pt3" />
        <activity android:name=".Ch4Pt2" />
        <activity android:name=".Ch4Pt1" />
        <activity android:name=".Ch_4" />
        <activity android:name=".Ch3Pt7" />
        <activity android:name=".Ch3Pt6" />
        <activity android:name=".Ch3Pt5" />
        <activity android:name=".Ch3Pt4" />
        <activity android:name=".Ch3Pt3" />
        <activity android:name=".Ch3Pt2" />
        <activity android:name=".Ch3Pt1" />
        <activity android:name=".Ch_3" />
        <activity android:name=".Ch2Pt9" />
        <activity android:name=".Ch2Pt8" />
        <activity android:name=".Ch2Pt7" />
        <activity android:name=".Ch2Pt6" />
        <activity android:name=".Ch2Pt5" />
        <activity android:name=".Ch2Pt4" />
        <activity android:name=".Ch2Pt3" />
        <activity android:name=".Ch2Pt2" />
        <activity android:name=".Ch2Pt1" />
        <activity android:name=".Ch_2" />
        <activity android:name=".Ch1Pt9" />
        <activity android:name=".Ch1Pt8" />
        <activity android:name=".Ch1Pt7" />
        <activity android:name=".Ch1Pt6" />
        <activity android:name=".Ch1Pt5" />
        <activity android:name=".Ch1Pt4" />
        <activity android:name=".Ch1Pt3" />
        <activity android:name=".Ch1Pt2" />
        <activity android:name=".Ch1Pt1" />
        <activity android:name=".Ch_1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>